<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Course</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
                crossorigin="anonymous">
</head>

<body>
        <br>
        <br>
        <table class="table">

                <!-- For showing buttons -->
                <div *ngIf="showingbuttons">
                        <br><br>

                        <div class="offset-md-4">
                                <div class="card p-0 " style="width: 500px">
                                        <div class="card-header bg-dark text-white text-centerfont-weight-normal pl-2"
                                                style="height: 45px; padding-bottom: 40px;">
                                                <h4 style="left:-10px">Courses</h4>
                                        </div>
                                        <div class="card-body p-0">
                                                <table class="table mb-0  pb-0">
                                                        <tr>
                                                                <td>Angular</td>
                                                                <td class="text-right">
                                                                        <button class="badge badge-primary badge-pill"
                                                                                data-toggle="modal"
                                                                                data-target="#exampleModal" data-
                                                                                whatever="@getbootstrap">Apply</button>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td>MongoDB</td>
                                                                <td class="text-right">
                                                                        <button class="badge badge-primary badge-pill"
                                                                                data-toggle="modal"
                                                                                data-target="#exampleModal1" data-
                                                                                whatever="@getbootstrap">Apply</button>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td>Javascript</td>
                                                                <td class="text-right">
                                                                        <button class="badge badge-primary badge-pill"
                                                                                data-toggle="modal"
                                                                                data-target="#exampleModal2" data-
                                                                                whatever="@getbootstrap">Apply</button>
                                                                </td>
                                                        </tr>

                                                </table>
                                        </div>
                                </div>

                        </div>

                        <!-- Modal 1 -->

                        <div class="modal fade  " id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModal">
                                                                Confirmation!

                                                        </h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                        Do you want to apply to this course?
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" (click)="showcourse()">Yes</button>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No</button>


                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Modal 2 -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <h4 class="modal-title" id="exampleModal1">
                                                                Confirmation!

                                                        </h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                        Do you want to apply to this course?
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal"
                                                                (click)="MongoDBcourse()">Yes</button>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No</button>


                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal 3 -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel2">
                                                                Confirmation!

                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                        Do you want to apply to this course?
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal"
                                                                (click)="Javascriptcourse()">Yes</button>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No</button>


                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </table>

        <!-- for showing Angular Syllabus -->
        <div *ngIf="AngularSyllabus">
                <div class="col-md-6 offset-md-3">
                        <table class="table table-dark align=right">
                                <h3 class="text-center text-info">Angular 8 - course syllabus</h3>
                                <div style="margin-top: 10px ">
                                        <div style="margin-bottom: 30px ">
                                                <form [formGroup]="form" (ngSubmit)="submit()">
                                                        <div *ngFor="let Syllabus of SyllabussData">
                                                                <input type="checkbox"
                                                                        (change)="onChange(Syllabus.name, $event.target.checked)" />
                                                                {{ Syllabus.name }}
                                                        </div>
                                                        <!-- <button>submit</button> -->
                                                </form>
                                        </div>
                                </div>
                        </table>
                </div>
        </div>

        <!-- for showing MongoDB Syllabus -->
        <div *ngIf="MongoDBSyllabus">
                <div class="col-md-6 offset-md-3">
                        <table class="table table-dark align=right">
                                <h3 class="text-center text-info">MongoDB - course syllabus</h3>
                                <div style="margin-top: 10px ">
                                        <div style="margin-bottom: 30px ">
                                                <form [formGroup]="form" (ngSubmit)="submit()">
                                                        <div *ngFor="let Syllabus of MongoData">
                                                                <input type="checkbox"
                                                                        (change)="onChange(Syllabus.name, $event.target.checked)" />
                                                                {{ Syllabus.name }}
                                                        </div>
                                                        <!-- <button>submit</button> -->
                                                </form>
                                        </div>
                                </div>
                        </table>
                </div>
        </div>


        <!-- for showing Javascript Syllabus -->
        <div *ngIf="JavascriptSyllabus">
                <div class="col-md-6 offset-md-3">
                        <table class="table table-dark align=right">
                                <h3 class="text-center text-info">Javascript - course syllabus</h3>
                                <div style="margin-top: 10px ">
                                        <div style="margin-bottom: 30px ">
                                                <form [formGroup]="form" (ngSubmit)="submit()">
                                                        <div *ngFor="let Syllabus of Javascript">
                                                                <input type="checkbox"
                                                                        (change)="onChange(Syllabus.name, $event.target.checked)" />
                                                                {{ Syllabus.name }}
                                                        </div>
                                                        <!-- <button>submit</button> -->
                                                </form>
                                        </div>
                                </div>
                        </table>
                </div>
        </div>


        <!-- for showing Track Syllabus -->
        <!-- <div *ngIf="TrackSyllabus">
                <div class="col-md-6 offset-md-3">
                        <table class="table table-dark align=right">
                                <h3 class="text-center text-info">Angular 8 -Completed course</h3>


                                <div style="margin-top: 10px ">
                                        <div style="margin-bottom: 30px ">
                                                <form [formGroup]="form" (ngSubmit)="submit()">
                                                        <div *ngFor="let Syllabus of selectedTrack">
                                                                <input type="checkbox"
                                                                        (change)="onChange(Syllabus.name, $event.target.checked)" />
                                                                {{ Syllabus }}
                                                        </div>

                                                </form>
                                        </div>
                                </div>
                        </table>
                </div>
        </div> -->


</body>

</html>